<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
</head>
<body>
    <% books.forEach(book => { %>
        <h2><%= book.title %></h2>
        <h2>by: <%= book.author %></h2>
        <h3><%= book.description %></h3>
        <h4><%= book.genre %></h4>
        <h4><%= book.publicationYear %></h4>
    <% }); %>
</body>
</html>